<div class="bg-white">
    <div class="relative mb-3">
        <h3 class="text-center mb-2 text-xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Create new tunnels in seconds ⏱️
        </h3>
        <p>
            <img class="relative mx-auto" width="800" src="/images/cloud/welcome.png" alt="The inlets-cloud dashboard">
        </p>
        <p class="my-6 max-w-3xl mx-auto text-center text-l leading-7 text-gray-500">
            From here you can create tunnels, verify new domains and understand your recent usage.
        </p>
    </div>


    <div class="relative mb-3">
        <h3 class="text-center mb-2 text-xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Your tunnel at a glance
        </h3>
        <p>
            <img class="relative mx-auto" width="800" src="/images/cloud/tunnel_stats.png" alt="The inlets-cloud dashboard">
        </p>
        <p class="my-6 max-w-3xl mx-auto text-center text-l leading-7 text-gray-500">
            See how much traffic is passing through your tunnel, and its configuration in one place.
        </p>
    </div>


    <div class="relative mb-3">
        <h3 class="text-center mb-2 text-xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Register custom domains
        </h3>
        <p>
            <img class="relative mx-auto" width="800" src="/images/cloud/domains.png" alt="The inlets-cloud dashboard">
        </p>
        <p class="my-6 max-w-3xl mx-auto text-center text-l leading-7 text-gray-500">
            Once you've verified a domain, you can add as many tunnels as you want under it.
        </p>
    </div>

    <div class="relative mb-3">
        <h3 class="text-center text-2xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Kubernetes YAML or CLI command?
        </h3>
        <p>
            <img class="relative mx-auto" width="800" src="/images/cloud/connect-yaml.png" alt="The inlets-cloud dashboard">
        </p>
        <p class="my-6 max-w-3xl mx-auto text-center text-l leading-7 text-gray-500">
        Whether you're using Kubernetes, and want some YAML to apply, are using a CLI, or systemd, just hit copy/paste and you're all set.
        </p>
    </div>

    <div class="relative mb-3">
        <h3 class="text-center mb-2 text-2xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Connect to any device with SSH
        </h3>
            <img class="relative mx-auto" width="800" src="http://img.youtube.com/vi/ws3-VlL2884/maxresdefault.jpg" alt="Video demo of SSH tunnels">
        <p class="my-6 max-w-3xl mx-auto text-center text-l leading-7 text-gray-500">
        There's no need to install a VPN, and each host gets its own custom sub-domain. IP allow lists combined with key-based logins keep your devices secure.  <a class="underline inlets-blue-900" href="https://www.youtube.com/watch?v=ws3-VlL2884">Demo of SSH with inlets-cloud</a>
        </p>
    </div>


</div>