
<div class="bg-indigo-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 py-12 lg:px-8 lg:flex lg:items-center lg:justify-between">
      <h2 class="font-bold tracking-tight text-gray-900 md:text-4xl">
        <span class="block mb-2 text-3xl">Register for access to inlets cloud.</span>
        <span class="block text-indigo-600 text-2xl">Free with your inlets subscription during beta.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <a href="https://cloud.inlets.dev/" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
              Register now
          </a>
        </div>
      </div>
    </div>
  </div>
  