<!-- This example requires Tailwind CSS v2.0+ -->

<div class="bg-white">

  <div class="max-w-7xl mx-auto bg-white py-16 sm:py-24 sm:px-6 lg:px-8">
    <!-- xs to lg -->
    <div class="max-w-2xl mx-auto lg:hidden">
      <div class="px-4">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Personal</h2>
        <p class="mt-4">
          <span class="text-4xl font-extrabold text-gray-900">$20*</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <p class="mt-4 text-sm text-gray-500">A discounted license for personal, non-commercial use.</p>
        <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-personal-license-12-mo" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
      </div>

      <table class="mt-8 w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Features
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">OSS tooling & tutorials.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Support
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Community Slack.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Business-day responses.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="border-t border-gray-200 px-4 pt-5">
        <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-personal-license-12-mo" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
      </div>

      <div class="px-4 mt-16">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Business</h2>
        <p class="mt-4">
          <span class="text-4xl font-extrabold text-gray-900">$249*</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <p class="mt-4 text-sm text-gray-500">Deploy inlets PRO at work, for commercial use.</p>
        <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-commercial-subscription" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
      </div>

      <table class="mt-8 w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Features
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">OSS tooling & tutorials.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">5 tunnels, additional cost for more</span>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Support
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Community Slack.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Business-day responses.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="border-t border-gray-200 px-4 pt-5">
        <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-commercial-subscription" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
      </div>

      <div class="px-4 mt-16">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Enterprise</h2>
        <p class="mt-4">
          <span class="text-4xl font-extrabold text-gray-900">Call</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <p class="mt-4 text-sm text-gray-500">Increased support, large scale deployments, and your own technical account manager.</p>
        <a href="/contact" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Contact us</a>
      </div>

      <table class="mt-8 w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Features
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">OSS tooling & tutorials.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">Bulk pricing</span>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Support
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Community Slack.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Business-day responses.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="border-t border-gray-200 px-4 pt-5">
        <a href="/contact" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Enterprise</a>
      </div>
    </div>

    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="w-full h-px table-fixed">
        <caption class="sr-only">
          Pricing plan comparison
        </caption>
        <thead>
          <tr>
            <th class="pb-4 px-6 text-sm font-medium text-gray-900 text-left" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
            </th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Personal</th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Business</th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Enterprise</th>
          </tr>
        </thead>
        <tbody class="border-t border-gray-200 divide-y divide-gray-200">
          <tr>
            <th class="py-8 px-6 text-sm font-medium text-gray-900 text-left align-top" scope="row">Pricing</th>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$20</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">A discounted license for personal, non-commercial use.</p>
                <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-personal-license-12-mo" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
              </div>
            </td>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$249</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Deploy inlets PRO at work, for commercial use.</p>
                <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-commercial-subscription" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
              </div>
            </td>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">Call</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Increased support, large scale deployments, and your own technical account manager.</p>
                <a href="/contact" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Contact us</a>
              </div>
            </td>
          </tr>
          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Features</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">OSS tooling & tutorials.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">5 tunnels, additional cost for more</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">Bulk pricing</span>
            </td>
          </tr>

         

          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Support</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Community Slack.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Business-day responses.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Enterprise</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="border-t border-gray-200">
            <th class="sr-only" scope="row">Choose your plan</th>

            <td class="pt-5 px-6">
              <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-personal-license-12-mo" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
            </td>

            <td class="pt-5 px-6">
              <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-commercial-subscription" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
            </td>

            <td class="pt-5 px-6">
              <a href="/contact" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Contact us</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
