<div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
    <div class="relative z-10">
      <div class="prose prose-indigo text-gray-500 mx-auto lg:max-w-none">
        <div class="text-base max-w-prose mx-auto lg:max-w-none">
          <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Ask us a question</p>
        </div>
          <p>If you have questions for us, you can get in touch below.</p>

          <a href="/contact" style="color: white;"  class="w-1/2 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-sm font-semibold text-white bg-indigo-600 hover:bg-indigo-700 ">
            Contact Us
          </a>
        </div>
    </div>
</div>