<div class="bg-gray-100">
    <div class="pt-16 pb-10 sm:pt-20 sm:pb-14 lg:pt-24 lg:pb-16">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl lg:text-5xl">
            Subscription Pricing
          </h2>
          <p class="mt-4 text-xl text-gray-600">
            Choose inlets Pro for your own services, or Uplink for customer connectivity.
          </p>
        </div>
      </div>
    </div>
  </div>
