<div class="py-16 bg-gray-50 overflow-hidden">
    <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">

      <div class="text-base max-w-prose mx-auto lg:max-w-none">
        <p class="mt-2 text-2xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-2xl">Do I need a business or personal license?</p>
      </div>

      <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
        <p class="text-md text-gray-500 leading-7 text-justify mb-2">
          A personal license can only be purchased with a personal email and personal card. It cannot be expensed or shared.
        </p>
        <p class="text-md text-gray-500 leading-7 text-justify mb-2">
          A business license is required for usage by or within a business. It can be expensed and shared with team-mates.
        </p>
      </div>

      <div class="bg-white">
        <div class="max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:py-6 lg:px-8">
          <div class="lg:grid lg:grid-cols-3 lg:gap-8">
            <div class="mt-12 lg:mt-0 lg:col-span-2">
              <dl class="space-y-10">
                <div>
                  <dt class="text-lg leading-6 font-medium text-gray-900">Can I use a personal license to evaluate inlets for my business?</dt>
                  <dd class="mt-2 text-base text-gray-500">You will require a business license, however it is available on a monthly basis and there's a week's free trial included.</dd>
                </div>
                <div>
                  <dt class="text-lg leading-6 font-medium text-gray-900">Can I use a personal license to set up a permanent tunnel or integration?</dt>
                  <dd class="mt-2 text-base text-gray-500">You may only do this at home, for personal usage, not at work or for your employer.</dd>
                </div>
                <div>
                  <dt class="text-lg leading-6 font-medium text-gray-900">How do I expense a personal license?</dt>
                  <dd class="mt-2 text-base text-gray-500">You must pay for a personal license with your own money, and this cannot be expensed. Business licenses can be expensed.</dd>
                </div>
                <div>
                  <dt class="text-lg leading-6 font-medium text-gray-900">What email address can I use for my personal license?</dt>
                  <dd class="mt-2 text-base text-gray-500">You'll need to use a personal email address for a personal license. We reserve the right to cancel any personal licenses bought with a company email address.</dd>
                </div>
                <div>
                  <dt class="text-lg leading-6 font-medium text-gray-900">How many people can I share a personal license with?</dt>
                  <dd class="mt-2 text-base text-gray-500">Only business licenses can be shared between multiple people, as long as no more tunnels are launched than specified in your license.</dd>
                </div>
              </dl>
            </div>
          </div>
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
        <div class="relative z-10">
          <div class="prose prose-indigo text-gray-500 mx-auto lg:max-w-none">
            <div class="text-base max-w-prose mx-auto lg:max-w-none">
              <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Still got questions?</p>
            </div>
              <p>Get in touch with us about features, or licensing below.</p>

              <a href="/contact" style="color: white;"  class="w-1/2 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-sm font-semibold text-white bg-indigo-600 hover:bg-indigo-700 ">
                Contact Us
              </a>
            </div>
          </div>
        </div>
    </div>
</div>
