<!-- This example requires Tailwind CSS v2.0+ -->

<div class="bg-white">

  <div class="max-w-7xl mx-auto bg-white sm:px-6 lg:px-8">
    <!-- xs to lg -->
    <div class="max-w-2xl mx-auto lg:hidden">
      <div class="px-4">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Personal</h2>
        <p class="mt-4">
          <span class="text-4xl font-extrabold text-gray-900">$19.99</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <p class="mt-4 text-sm text-gray-500">This license is just for you. Use it at home or at work.</p>
        <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
      </div>

      <table class="mt-8 w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Features
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">2 tunnels</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Cost per tunnel.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">10 USD / mo</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel HTTPs, websockets & REST.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Rate limits.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Remote forwarding</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Local forwarding</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Kubernetes Integration.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>


          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Payment method.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">Personal card only.</span>
            </td>
          </tr>


        </tbody>

      </table>

      <table class="w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Support
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">GitHub Issues.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

        </tbody>
      </table>

      <div class="border-t border-gray-200 px-4 pt-5">
        <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
      </div>

      <div class="px-4 mt-16">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Business</h2>
        <p class="mt-4">
          <span class="text-4xl font-extrabold text-gray-900">$149.99</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <p class="mt-4 text-sm text-gray-500">Connect services for your business, with email support.</p>
        <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
      </div>

      <table class="mt-8 w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Features
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">3 tunnels</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Cost per tunnel.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">50 USD / mo</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel HTTPs, websockets & REST.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Kubernetes Integration.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Rate limits.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Remote forwarding</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Local forwarding</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>


          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Payment method.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">Corporate card</span>
            </td>
          </tr>

        </tbody>
      </table>


      <table class="w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Support
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">GitHub Issues.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

        </tbody>
      </table>

      <div class="border-t border-gray-200 px-4 pt-5">
        <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
      </div>

      <div class="px-4 mt-16">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Uplink for SaaS</h2>
        <p class="mt-4">
          <span class="text-4xl font-extrabold text-gray-900">$500</span>
          <span class="text-base font-medium text-gray-500">/mo</span>
        </p>
        <p class="mt-4 text-sm text-gray-500">Tunnel customer services to your SaaS.</p>
        <a href="https://openfaas-subscribe.lemonsqueezy.com/checkout?cart=28c637d9-da51-4dff-81a4-c0a8389bcbac" class="mt-6 block border border-gray-800 rounded-md bg-gray-800 w-full py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Uplink</a>
      </div>

      <table class="mt-8 w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Features
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">5.</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Cost per tunnel.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">50 USD / mo</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Platform fee.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">250 USD / mo</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel HTTPs, websockets & REST.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP services.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Kubernetes Integration.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Rate limits.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Remote forwarding</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Local forwarding</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: minus -->
              <svg class="ml-auto h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">No</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Payment method.</th>
            <td class="py-5 pr-4">
              <span class="block text-sm text-gray-700 text-right">Corporate card</span>
            </td>
          </tr>

        </tbody>
      </table>

      <table class="w-full">
        <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
          Support
        </caption>
        <thead>
          <tr>
            <th class="sr-only" scope="col">Feature</th>
            <th class="sr-only" scope="col">Included</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">GitHub Issues.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>

          <tr class="border-t border-gray-200">
            <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 pr-4">
              <!-- Heroicon name: check -->
              <svg class="ml-auto h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Yes</span>
            </td>
          </tr>


        </tbody>
      </table>

      <div class="border-t border-gray-200 px-4 pt-5">
        <a href="https://openfaas-subscribe.lemonsqueezy.com/checkout?cart=28c637d9-da51-4dff-81a4-c0a8389bcbac" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Enterprise</a>
      </div>
    </div>

    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="w-full h-px table-fixed">
        <caption class="sr-only">
          Pricing plan comparison
        </caption>
        <thead>
          <tr>
            <th class="pb-4 px-6 text-sm font-medium text-gray-900 text-left" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
            </th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Personal</th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Business</th>

            <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Inlets Uplink</th>
          </tr>
        </thead>

        <!-- Main view grid -->

        <tbody class="border-t border-gray-200 divide-y divide-gray-200">
          <tr>
            <th class="py-8 px-6 text-sm font-medium text-gray-900 text-left align-top" scope="row">Pricing</th>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$19.99</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">This license is just for you. Use it at home or at work.</p>
                <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
              </div>
            </td>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$149.99</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Connect services for your business, with email support.</p>
                <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
              </div>
            </td>

            <td class="h-full py-8 px-6 align-top">
              <div class="relative h-full table">
                <p>
                  <span class="text-4xl font-extrabold text-gray-900">$500</span>
                  <span class="text-base font-medium text-gray-500">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-gray-500">Become an Inlets Uplink provider and host tunnels for your customers.</p>
                <a href="https://openfaas-subscribe.lemonsqueezy.com/checkout?cart=28c637d9-da51-4dff-81a4-c0a8389bcbac" class="absolute bottom-0 flex-grow block w-full bg-gray-800 border border-gray-800 rounded-md 5 py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Uplink</a>
              </div>
            </td>
          </tr>
          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Features</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tunnels included.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">2 tunnels</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">3 tunnels</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">5 tunnels</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Cost per tunnel.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">10 USD / mo</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">50 USD / mo</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">50 USD / mo</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Platform fee.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-400">n/a</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-400">n/a</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">250 USD / mo</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel HTTPs, websockets & REST.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Tunnel TCP Services.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>


          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Kubernetes Integration.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>


          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Rate limits.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not in Enterprise</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Remote forwarding</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Local forwarding</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Inlets Uplink Control Plane.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Commercial use.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              <span class="sr-only">Limited in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Payment method.</th>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">Personal card only.</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">Corporate card.</span>
            </td>
            <td class="py-5 px-6">
              <span class="block text-sm text-gray-700">Corporate card.</span>
            </td>
          </tr>

          <tr>
            <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Support</th>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">GitHub Issues.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Email support.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Business</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

          <tr>
            <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left" scope="row">Free onboarding call.</th>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: minus -->
              <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Personal</span>
            </td>
            <td class="py-5 px-6">
              <!-- Heroicon name: check -->
              <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Included in Uplink</span>
            </td>
          </tr>

        </tbody>
        <tfoot>
          <tr class="border-t border-gray-200">
            <th class="sr-only" scope="row">Choose your plan</th>

            <td class="pt-5 px-6">
              <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Personal</a>
            </td>

            <td class="pt-5 px-6">
              <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Business</a>
            </td>

            <td class="pt-5 px-6">
              <a href="https://openfaas-subscribe.lemonsqueezy.com/checkout?cart=28c637d9-da51-4dff-81a4-c0a8389bcbac" class="block w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">Buy Uplink</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
