<div class="py-16 bg-gray-50 overflow-hidden">
    <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">

      <div class="text-base max-w-prose mx-auto lg:max-w-none">
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase mb-10">Peace of mind</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">We'll help you get it working</p>
      </div>
      <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
        <p class="text-lg text-gray-500 leading-7 text-justify mb-2">
          We know how to connect services and have designed inlets Pro to do what it says it does <i>on the label</i>. For that reason we offer a monthly subscription, so that you can kick the tires and try it out for yourself before you commit to a longer period. Once you've purchased a license, for personal use you can ask questions on GitHub. Companies with a business license are entitled to a free onboarding call with the creator of inlets. From there on, an active subscription entitles you to priority support over email.
        </p>
        <p class="text-lg text-gray-500 leading-7 text-justify mb-2">
          If for whatever reason you cannot get inlets Pro to work as we have described in the official documentation or on our website, then do let us know as soon as possible, and we'll try to help.
        </p>
      </div>

      <div class="text-base max-w-prose mx-auto lg:max-w-none">
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase mb-10">Supporting developers</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">What's the difference between business and personal?</p>
      </div>

      <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
        <p class="text-lg text-gray-500 leading-7 text-justify mb-2">
            The personal license can be used at work or at home with your home-lab, we give you two tunnels so that you can run one at home and still use inlets at PRO. The business license unlocks commercial support and other restrictions on use.
        </p>
        <p class="text-lg text-gray-500 leading-7 text-justify">
            You can use your license for any kind of development. However, only you may use your personal license; you may not share it with others. Your company cannot pay, reimburse, or in any way finance your personal license.
        </p>
      </div>
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
        <div class="relative z-10">
          <div class="prose prose-indigo text-gray-500 mx-auto lg:max-w-none">
            <p class="leading-7 text-justify">What is acceptable use for a personal license? Anything that you as an individual may do in your daily workflow to achieve your job as an individual. In other words, this license should not be used by other people in your company, or as part of a company system or permanent integration. You also need to buy this with your own money and personal email address.</p>

            <ul class="leading-7">
              <li>Receiving webhooks during development</li>
              <li>Hosting personal projects and websites.</li>
              <li>Remote access to services like RDP, VNC, SSH.</li>
              <li>Sharing work or a blog post draft with a client or colleague.</li>
              <li>To get a static IP when you're behind NAT, have a dynamic IP, or when ports are blocked.</li>
              <li>Exposing a self-hosted service from a Kubernetes cluster for development and testing.</li>
              <li>Exposing dashboards or services from your Raspberry Pi.</li>
              <li>To avoid rate-limits and corporate banning of SaaS tunnels like Ngrok.</li>
            </ul>

            <p>If you have any questions about licenses and costs, feel free to get in touch.</p>

            <a href="/contact" style="color: white;"  class="w-1/2 flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-sm font-semibold text-white bg-indigo-600 hover:bg-indigo-700 ">
                Contact Us
              </a>
            </div>
          </div>
        </div>
    </div>
</div>
