<div id="features" class="py-8  overflow-hidden">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl" >
        <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
        </svg>

        <div class="relative">
            <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Expose multiple ports from a private network
            </h3>
            <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
                In TCP mode, traffic received on the server is sent directly to the client.
            </p>
            <p>
                <img class="relative mx-auto" width="800" src="/images/tcp-cli.png" alt="">
            </p>
        </div>

        <div class="relative">
            <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Self-host any HTTP endpoint with a HTTPS certificate
            </h3>
            <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
                Built-in Let's Encrypt makes it really easy to get users to access your private service.
            </p>
            <p >
                <img class="relative mx-auto" width="800" src="/images/https-cli.png" alt="">
            </p>
        </div>

        <div class="relative">
            <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Local Kubernetes that you can actually use
            </h3>
            <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
                The <a class="text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out" href="https://github.com/inlets/inlets-operator/">inlets-operator for Kubernetes</a> makes it look and feel like you're using a cloud Kubernetes cluster.
            </p>
            <p >
                <img class="relative mx-auto" width="800" src="/images/k8s-cli.png" alt="">
            </p>
        </div>
        <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
            If you'd like to get started with any of these examples, you can <a class="text-gray-500 hover:text-gray-900 transition duration-150 ease-in-out" href="https://slack.openfaas.io/">join the OpenFaaS Slack</a> and chat with the community in the #inlets channel.
        </p>
    </div>
</div>


