<div id="comparison" class="max-w-screen-xl mx-auto py-8 px-4">

    <div class="relative pb-10">
        <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
            Feature Comparison
        </h3>
        <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
            To save you time, we've already compared inlets PRO to VPNs and managed SaaS tunnels.
        </p>
    </div>
    <div class="flex flex-col">
        <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
            <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                    <tr>
                        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">

                        </th>
                        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            VPN
                        </th>
                        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            SAAS Tunnel
                        </th>
                        <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Inlets PRO
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        {% include table/row.html words="" feature="Setup Cost" inlets="Low" saas="Low" vpn="High" %}
                        {% include table/row.html even="1" words="" feature="Public TCP Ports" inlets="ANY" saas="Randomly Allocated/High ports" vpn="None" %}
                        {% include table/row.html words="" feature="Connection Rate-limiting " inlets="Unlimited" saas="60-260/min" vpn="Unlimited" %}
                        {% include table/row.html even="1" feature="Expose with a Domain" inlets="" saas="" %}
                        {% include table/row.html words="" feature="Custom Domains" inlets="1" saas="(extra cost)" %}
                        {% include table/row.html even="1" feature="Connect Services Without Exposing Them" inlets="" vpn="" %}
                        {% include table/row.html feature="Kubernetes LoadBalancer integration" inlets="" %}
                        {% include table/row.html even="1" feature="" feature="Data Sovereignty" inlets="1" vpn="" %}
                        {% include table/row.html words="" feature="Compatible Network Configurations" inlets="HTTP_PROXY, NAT and Captive Portals" saas="HTTP_PROXY, NAT and Captive Portals" vpn="NAT" %}
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>