<div id="cta" class="py-8 bg-gray-50 overflow-hidden">
    <div class="bg-gray-50">
        <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
            <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Ready to Start your Journey?
                <br>
                <span class="inlets-blue-900">Get your licence today.</span>
            </h2>
            <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
                <div class="inline-flex rounded-md shadow">
                    <a href="/#pricing" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md bg-inlets-blue-900 text-white blue-900 hover:bg-blue-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                        Buy Now
                    </a>
                </div>
                <div class="ml-3 inline-flex rounded-md shadow">
                    <a href="https://docs.inlets.dev/#/?id=get-started" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md inlets-blue-900 bg-white hover:text-blue-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>