<div id="faq" class="py-8 bg-gray-50 overflow-hidden">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
        <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
        </svg>

        <div class="relative">
            <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                Frequently asked questions
            </h3>
        </div>

        <div class="relative mt-6 border-t-2 border-gray-100 pt-10">
            <dl class="md:grid md:grid-cols-2 md:gap-8">
                <div>
                    {% include faq/section.html heading="Can I try before I buy?" text="Yes, you can request a free 14-day trial <a class=\"underline inlets-blue-900\" href=\"https://docs.google.com/forms/d/e/1FAIpQLScfNQr1o_Ctu_6vbMoTJ0xwZKZ3Hszu9C-8GJGWw1Fnebzz-g/viewform?usp=sf_link\">here</a>" %}
                    {% include faq/section.html heading="Do I have to expose my applications on the Internet?" text="No, inlets PRO can bind to a private or local ethernet adapter, so that only the control-plane is available publicly through an encrypted websocket." %}
                    {% include faq/section.html heading="How does the licensing work?" text="The license is issued as a fixed-term JWT token. The license is part of the client, so you do not have to re-create your servers. Update your clients with the renewed license when you have it." %}
                    {% include faq/section.html heading="What happens when my license expires?" text="For personal users and small businesses the client will continue to run until restarted, you should renew with ample notice." %}
                    {% include faq/section.html heading="What is a tunnel-pair?" text="A \"tunnel-pair\" is an inlets PRO client and server - both parts form a tunnel. inlets PRO is self-hosted software." %}
                    {% include faq/section.html heading="Can I use my personal license at work and at home?" text="Yes, you can use your personal license at work as well as at home. You can use it working on your personal projects as well as your projects in your company. <a class=\"underline inlets-blue-900\" href=\"/pricing\">Read more</a>." %}
                </div>
                <div class="mt-12 md:mt-0">
                    {% include faq/section.html heading="How do I pay for inlets PRO?" text="You may can purchase a license via Gumroad by clicking on the <a class=\"underline inlets-blue-900\" href=\"/pricing\">Pricing page</a>. Enterprise customers may pay by invoice using a bank transfer." %}
                    {% include faq/section.html heading="Where can I use inlets PRO?" text="Inlets PRO can be used in any network because the client makes an outbound connection first to establish its link. This includes: NAT, Carrier Grade NAT (CGN), VPCs, containers, Kubernetes and even hotel WiFi. If you want to test your network conditions, just take out a free 14-day trial at any time." %}
                    {% include faq/section.html heading="Is inlets Open Source?" text="inlets PRO has a commercial license. <a href=\"https://github.com/inlets/\" class=\"underline inlets-blue-900\">inlets, inlets-operator, and inletsctl</a> are all licensed as MIT." %}
                    {% include faq/section.html heading="Can I pay for inlets PRO monthly?" text="Inlets PRO is currently available for a minimum of 6-months for personal use, 12-months for a business." %}
                    {% include faq/section.html heading="What if I want to add more \"tunnel-pairs\" during a period?" text="You can pay pro-rata to add more tunnels to your package." %}
                    {% include faq/section.html heading="Does inlets PRO \"call home\"?" text="We trust our users to purchase the correct license for their usage and so inlets PRO doesn't include a \"call home\" mechanism. In return we provide a simple fixed-term license key." %}
                </div>
            </dl>
        </div>
    </div>
</div>
