<div id="features" class="py-8 bg-gray-50 overflow-hidden">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
        <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
        </svg>

        <div class="relative">
            <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                A better way to connect
            </h3>
            <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
                Connect applications securely without the hassle and costs of VPNs.
            </p>
        </div>

        <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">
                <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
                    Connect anything, anywhere.
                </h4>
                <p class="mt-3 text-lg leading-7 text-gray-500">
                    inlets PRO is a Software Defined Network (SDN) for connecting applications.
                </p>
                <p class="mt-3 text-lg leading-7 text-gray-500">
                    The inlets PRO client speaks first, establishing an outbound connection over HTTPS. This works through almost any network conditions and means that you do not need to open ports, configure routers, or send an engineer on site.
                </p>
                <p class="mt-3 text-lg leading-7 text-gray-500">
                    All traffic is sent over an encrypted websocket using HTTPS which works well with HTTP proxies, VPNs, and VM networks.
                    Setup your inlets PRO server on a public VM, or in a Kubernetes cluster, and then have your client or customer run the inlets PRO client with its address and authentication token.
                </p>

                <ul class="mt-10">
                    {% include features/feature.html icon="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" title="Save costs on cloud, go hybrid" text="Whether you need to connect your customer's on-prem to your SaaS, or you have an expensive GPU sitting idle. Connecting your existing investment to the public cloud services could save you money." %}
                    {% include features/feature.html icon="M2 6C2 4.89543 2.89543 4 4 4H9L11 6H16C17.1046 6 18 6.89543 18 8V14C18 15.1046 17.1046 16 16 16H4C2.89543 16 2 15.1046 2 14V6Z" title="Stay in control of your data" text="By self-hosting the tunnel server, you remain in complete control of your own data. No SaaS product can offer you this." %}
                    {% include features/feature.html icon="M2 5a2 2 0 012-2h12a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V5zm3.293 1.293a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 01-1.414-1.414L7.586 10 5.293 7.707a1 1 0 010-1.414zM11 12a1 1 0 100 2h3a1 1 0 100-2h-3z" title="No sweat webhooks" text="Not only can you share your websites and APIs without publishing them on public cloud, but you can integrate directly with webhooks from Stripe, GitHub and Slack.." %}
                    {% include features/feature.html icon="M13 10V3L4 14h7v7l9-11h-7z" title="Host services on private Kubernetes clusters" text="Whether your cluster is on a private cloud, or your laptop, get a TCP LoadBalancer just like on a managed cloud platform." %}
                    <!-- {% include features/feature.html icon="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" title="Expand your IP range, instantly" text="inlets tooling can automatically provision tunnel servers on cloud VMs for you, expanding your IP range without filing tickets with your helpdesk." %} -->
                    {% include features/feature.html icon="M7,8 C9.209139,8 11,6.209139 11,4 C11,1.790861 9.209139,0 7,0 C4.790861,0 3,1.790861 3,4 C3,6.209139 4.790861,8 7,8 Z M7,9 C4.852,9 2.801,9.396 0.891,10.086 L2,16 L3.25,16 L4,20 L10,20 L10.75,16 L12,16 L13.109,10.086 C11.199,9.396 9.148,9 7,9 Z M15.315,9.171 L13.66,18 L12.41,18 L12.035,20 L16,20 L16.75,16 L18,16 L19.109,10.086 C17.899,9.648 16.627,9.346 15.315,9.171 Z M13,0 C12.532,0 12.089,0.096 11.671,0.243 C12.501,1.272 13,2.578 13,4 C13,5.422 12.501,6.728 11.671,7.757 C12.089,7.904 12.531,8 13,8 C15.209,8 17,6.209 17,4 C17,1.791 15.209,0 13,0 Z" title="Scale to thousands of services" text="inlets tunnels are light-weight and can scale massively to support thousands of tunnels without additional subnets and firewall rules." %}
                </ul>
            </div>

            <div class="mt-10 -mx-4 relative lg:mt-0">
                <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
                    <defs>
                        <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                </svg>
                <img class="relative mx-auto" width="490" src="/images/inlets-pro-purple.png" alt="">
            </div>
        </div>

        <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
        </svg>
    </div>
</div>
