<div id="features" class="py-8 bg-gray-50 overflow-hidden">
    <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
        <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
        </svg>

        <div class="relative">
            <h3 class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
                A better way to connect
            </h3>
            <p class="mt-4 max-w-3xl mx-auto text-center text-xl leading-7 text-gray-500">
                Secure site-to-site tunnels without the hassle of a VPN
            </p>
        </div>

        <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
            <div class="relative">
                <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
                    Connect anything, anywhere.
                </h4>
                <p class="mt-3 text-lg leading-7 text-gray-500">
                    Any two machines which have at one way network connectivity (such as your laptop and a Cloud VM with a public IP) can be used to establish a tunnel.
                    Traffic sent to the exit node gets sent through a secure tunnel to the destination. You can use Inlets PRO to connect anything, from two private networks all the way to
                    connecting your edge IoT devices to your cloud networks.

                </p>

                <ul class="mt-10">
                    {% include features/feature.html icon="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" title="Expand your IP range, within minutes" text="Use a cloud VM with a public IP to forward network traffic to your datacenter without buying new IPs" %}
                    {% include features/feature.html icon="M3 6l3 1m0 0l-3 9a5.002 5.002 0 006.001 0M6 7l3 9M6 7l6-2m6 2l3-1m-3 1l-3 9a5.002 5.002 0 006.001 0M18 7l3 9m-3-9l-6-2m0-2v2m0 16V5m0 16H9m3 0h3" title="Save on your cloud costs by re-using your datacenter" text="Don't leave your on-prem compute behind when you migrate to the cloud - inlets tunnels can connect your on-prem compute to the cloud without the hassle of managing VPNs." %}
                    {% include features/feature.html icon="M13 10V3L4 14h7v7l9-11h-7z" title="Native Kubernetes support, even behind firewalls and NAT" text="Inlets PRO is a cloud native tunnel. It has first class support for Kubernetes networking. Use Inlets PRO to connect private kubernetes clusters to the internet securely." %}
                    {% include features/feature.html icon="M2 6C2 4.89543 2.89543 4 4 4H9L11 6H16C17.1046 6 18 6.89543 18 8V14C18 15.1046 17.1046 16 16 16H4C2.89543 16 2 15.1046 2 14V6Z" title="Stay in control of your data" text="With inlets PRO, you host your own tunnel server and remain in control of your data. Unlike a SaaS tunnel, you won't be rate-limited, or be limited on how much bandwidth you can use." %}
                </ul>
            </div>

            <div class="mt-10 -mx-4 relative lg:mt-0">
                <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
                    <defs>
                        <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                </svg>
                <img class="relative mx-auto" width="490" src="/images/inlets-pro-purple.png" alt="">
            </div>
        </div>

        <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784">
            <defs>
                <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
        </svg>
    </div>
</div>
