<div class="bg-gradient-to-b from-blue-50 via-white to-white">
    <!-- Pricing section with single price and feature list -->
    <div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
        <div class="pb-16 xl:flex xl:items-center xl:justify-between">
            <div>
                <h1 class="text-4xl leading-10 font-extrabold sm:text-5xl sm:leading-none sm:tracking-tight">
                    <span class="text-cool-gray-900">Everything you need to</span>
                    <span class="inlets-blue-900">connect services,</span>
                    <br>
                    <span class="inlets-blue-900">products and clusters </span>
                </h1>
                <p class="mt-5 text-xl leading-7 text-cool-gray-500">Includes every feature we offer plus unlimited projects and unlimited users.</p>
            </div>
            <a href="/pricing.html" class="mt-8 w-full bg-inlets-blue-900 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base leading-6 font-medium text-white hover:bg-blue-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out sm:mt-10 sm:w-auto xl:mt-0">See Pricing</a>
        </div>
        <div class="border-t border-cool-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:col-gap-8">
            <div>
                <h2 class="text-base leading-6 font-semibold inlets-blue-900 uppercase tracking-wide">Everything you need</h2>
                <p class="mt-2 text-3xl leading-9 font-extrabold text-cool-gray-900">All-in-one platform</p>
                <p class="mt-4 text-lg leading-7 text-cool-gray-500">Ac euismod vel sit maecenas id pellentesque eu sed consectetur. Malesuada adipiscing sagittis vel nulla nec. Urna, sed a lectus elementum blandit et.</p>
            </div>
            <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:col-gap-8 xl:mt-0 xl:col-span-2">
                <ul class="divide-y divide-cool-gray-200">
                    <li class="py-4 flex space-x-3 md:py-0 md:pb-4">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Vitae in pulvinar odio id utobortis in inter.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Sed sed id viverra viverra augue eget massa.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Urna, gravida amet, a, integer venenatis.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Lobortis sed pharetra amet vitae eleifend.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Ullamcorper blandit a consequat donec elit aoreet.</span>
                    </li>
                </ul>
                <ul class="border-t border-cool-gray-200 divide-y divide-cool-gray-200 md:border-t-0">
                    <li class="py-4 flex space-x-3 md:border-t-0 md:py-0 md:pb-4">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Vitae in pulvinar odio id utobortis in inter.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Sed sed id viverra viverra augue eget massa.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Urna, gravida amet, a, integer venenatis.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Lobortis sed pharetra amet vitae eleifend.</span>
                    </li>
                    <li class="py-4 flex space-x-3">
                        <!-- Heroicon name: check -->
                        <svg class="flex-shrink-0 h-6 w-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                        <span class="text-base leading-6 text-cool-gray-500">Ullamcorper blandit a consequat donec elit aoreet.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>