<!-- Taken from the second example here -> https://tailwindui.com/components/marketing/sections/heroes -->
<div class="bg-gray-50 overflow-hidden">
  <main class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
      <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">

        <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
            <span class="block xl:inline">Secure tunnels,</span> <span class="block text-indigo-600 xl:inline">from dev to production.</span>
          </h1>

          <p class="mt-3 max-w-md leading-7 mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
            With encrypted tunnels, you can get live traffic to your development machine, just like in production.</p>

          <p class="mt-3 max-w-md leading-7 mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
            inlets was built to run just as well in containers as on bare metal, and scales outs as you grow.
          </p>

          <p class="mt-3 max-w-md leading-7 mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
            Are you ready to save on your cloud costs and forget about firewalls and NAT?
          </p>

          <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="https://docs.inlets.dev/tutorial/automated-http-server/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                 Start a tunnel
              </a>
            </div>
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
              <a href="/contact/" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="relative w-full lg:absolute lg:inset-y-60 lg:right-0 lg:left-180 lg:w-1/2 lg:h-full">

          <a href="https://youtu.be/zPl9oC12BJM">
            <video width="700" height="450" autoplay muted loop preload="true" class="pb-10">
              <source src="/media/preview.mp4" type="video/mp4" />
              <img class="absolute inset-0 w-full h-full object-cover" style="-webkit-transform: scaleX(-1);" src="/images/hero-human.jpg" alt="inlets Pro is fast and easy to use">
            </video>
          </a>
          <a href="https://youtu.be/zPl9oC12BJM" class="font-medium text-indigo-600 hover:text-indigo-500"> Create your first tunnel with Alex <span aria-hidden="true">→</span></a>

        </div>

    </div>
    </main>
  </div>

