<!-- Taken from the second example here -> https://tailwindui.com/components/marketing/sections/heroes -->
<div class="bg-gray-50 overflow-hidden">
  <main class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-screen-xl">
      <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left">
        <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
            <span class="block xl:inline">Remote access,</span> <span class="block text-indigo-600 xl:inline">made easy.</span>
          </h1>
          <p class="mt-3 max-w-md leading-7 mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
            Get easy access to your private services from another network or the Internet through a secure tunnel.
          </p>
          <p class="mt-3 max-w-md leading-7 mx-auto text-lg text-gray-500 sm:text-xl md:mt-5 md:max-w-3xl">
            inlets PRO is how you connect services between networks whatever kind of network conditions they are running in. It replaces port-forwarding, VPNs, calculating subnets and having to open firewall-ports.
          </p>
          <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="/pricing" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
                 Start connecting
              </a>
            </div>
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3">
              <a href="https://www.youtube.com/watch?v=AFMA1xA4zts&t=468s" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-indigo-600 bg-white hover:bg-gray-50 md:py-4 md:text-lg md:px-10">
                Watch our introduction
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
        <img class="absolute inset-0 w-full h-full object-cover" style="-webkit-transform: scaleX(-1);" src="/images/hero-human.jpg" alt="inlets PRO is fast and easy to use">
      </div>
    </main>
  </div>
