<section class="bg-white py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <p class="text-center text-sm font-semibold uppercase tracking-wide text-gray-500">
      Trusted by teams at
    </p>
    <div class="mt-6 flex flex-wrap items-center justify-center gap-x-12 gap-y-6">
      <img class="h-7 w-auto grayscale opacity-60" src="/images/customers/atlassian.svg" alt="Atlassian">
      <img class="h-10 w-auto grayscale opacity-60" src="/images/customers/radiantlogic.png" alt="Radiant Logic">
      <img class="h-7 w-auto grayscale opacity-60" src="/images/customers/lambda.svg" alt="Lambda">
      <img class="h-7 w-auto grayscale opacity-60" src="/images/customers/essentry.svg" alt="Essentry">
      <img class="h-7 w-auto grayscale opacity-60" src="/images/customers/econolite.png" alt="Econolite">
      <img class="h-5 w-auto grayscale opacity-60" src="/images/customers/linkbycar.svg" alt="LinkByCar">
      <img class="h-7 w-auto grayscale opacity-60" src="/images/customers/posteo.svg" alt="Posteo">
    </div>
  </div>
</section>
