<div id="pricing" class="bg-blue-900">
    <div class="pt-8 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <p class="mt- py-4 text-xl leading-6 font-semibold text-white sm:text-4xl sm:leading-10 lg:text-5xl lg:leading-none">
                Pricing
            </p>
            <p class="mt- text-xl leading-6 font-semibold text-white sm:text-3xl sm:leading-10 lg:text-3xl lg:leading-none">
                The right price for you, whoever you are
            </p>
            <p class="mt-3 max-w-4xl mx-auto text-xl leading-7 text-gray-300 sm:mt-5 sm:text-2xl sm:leading-8">
            </p>
        </div>
    </div>

    <div class="mt-16 bg-white pb-12 lg:mt-20 lg:pb-20">
        <div class="relative z-0">
            <div class="absolute inset-0 h-5/6 bg-blue-900 lg:h-2/3"></div>
            <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 padding-bottom-10">
                <div class="relative lg:grid lg:grid-cols-7">
                    <div class="mx-auto max-w-md lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
                        <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-l-lg">
                            <div class="flex-1 flex flex-col">
                                <div class="bg-white px-6 py-10">
                                    <div>
                                        <h3 class="text-center text-2xl leading-8 font-medium text-blue-900" id="tier-hobby">
                                            Personal
                                        </h3>
                                        <div class="mt-4 flex items-center justify-center">
                      <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-blue-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          $
                        </span>
                        <span class="font-extrabold">
                          20*
                        </span>
                      </span>
                     <span class="text-xl leading-7 font-medium text-gray-500">
                        /month
                      </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                                    <ul>
                                        {% include pricing/feature.html feature="Non-commercial use only" %}
                                        {% include pricing/feature.html feature="Tunnel TCP and HTTP" %}
                                        {% include pricing/feature.html feature="Access to dozens of tutorials and complementary OSS projects" %}
                                        {% include pricing/feature.html feature="Community Support" %}
                                    </ul>
                                    <div class="mt-8">
                                        <div class="rounded-lg shadow-md">
                                            <a href="https://store.openfaas.com/collections/software-licenses/products/inlets-pro-personal-license-12-mo" class="block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium inlets-blue-900 hover:text-inlets-blue-900 focus:outline-none focus:shadow-outline transition ease-in-out duration-150" aria-describedby="tier-hobby">
                                                Buy now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 max-w-lg mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
                        <div class="relative z-10 rounded-lg shadow-xl">
                            <div class="pointer-events-none absolute inset-0 rounded-lg border-2 border-inlets-blue-900"></div>
                            <div class="absolute inset-x-0 top-0 transform translate-y-px">
                                <div class="flex justify-center transform -translate-y-1/2">
                  <span class="inline-flex rounded-full bg-inlets-blue-900 px-4 py-1 text-sm leading-5 font-semibold tracking-wider uppercase text-white">
                    Most popular
                  </span>
                                </div>
                            </div>
                            <div class="bg-white rounded-t-lg px-6 pt-12 pb-10">
                                <div>
                                    <h3 class="text-center text-3xl leading-9 font-semibold text-blue-900 sm:-mx-6" id="tier-growth">
                                        Professional
                                    </h3>
                                    <div class="mt-4 flex items-center justify-center">
                        <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-blue-900 sm:text-6xl">

                        <span class="text-2xl leading-8 font-medium text-gray-500 px-2">
                        from
                        </span>
                        <span class="mt-2 mr-2 text-4xl font-medium">
                        $
                        </span>
                        <span class="font-extrabold">
                            200*
                        </span>
                        </span>
                        <span class="text-2xl leading-8 font-medium text-gray-500">
                        /month
                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="border-t-2 border-gray-100 rounded-b-lg pt-10 pb-8 px-6 bg-gray-50 sm:px-10 sm:py-10">
                                <ul>
                                    {% include pricing/feature.html feature="Licensed for commercial use" %}
                                    {% include pricing/feature.html feature="Includes 5 pre-paid tunnels" %}
                                    {% include pricing/feature.html feature="Each additional tunnel - $25 / month" %}
                                    {% include pricing/feature.html feature="You keep control of your data" %}
                                    {% include pricing/feature.html feature="Integrates directly with Kubernetes" %}
                                    {% include pricing/feature.html feature="Expand your public IP range" %}
                                    {% include pricing/feature.html feature="Email support" %}
                                </ul>
                                <div class="mt-10">
                                    <div class="rounded-lg shadow-md">
                                        <a href="https://store.openfaas.com/products/inlets-pro-commercial-subscription" class="block w-full text-center rounded-lg border border-transparent bg-inlets-blue-900 px-6 py-4 text-xl leading-6 font-medium text-white hover:bg-inlets-blue-900 focus:outline-none focus:border-inlets-blue-900 focus:shadow-outline-bluetransition ease-in-out duration-150" aria-describedby="tier-growth">
                                            Buy now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10 mx-auto max-w-md lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
                        <div class="h-full flex flex-col rounded-lg shadow-lg overflow-hidden lg:rounded-none lg:rounded-r-lg">
                            <div class="flex-1 flex flex-col">
                                <div class="bg-white px-6 py-10">
                                    <div>
                                        <h3 class="text-center text-2xl leading-8 font-medium text-blue-900" id="tier-scale">
                                            Enterprise
                                        </h3>
                                        <div class="mt-4 flex items-center justify-center">
                                            <span class="px-3 flex items-start text-6xl leading-none tracking-tight text-blue-900">
                                                <span class="mt-2 mr-2 text-4xl font-medium">
                                                Contact us
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-1 flex flex-col justify-between border-t-2 border-gray-100 p-6 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                                    <ul>
                                        {% include pricing/feature.html feature="Bulk discounts" %}
                                        {% include pricing/feature.html feature="Licensed for use within a product" %}
                                        {% include pricing/feature.html feature="Consulting and custom development" %}
                                        {% include pricing/feature.html feature="inlets-cloud add-on" %}
                                        {% include pricing/feature.html feature="Priority email support" %}
                                    </ul>
                                    <div class="mt-8">
                                        <div class="rounded-lg shadow-md">
                                            <a href="/contact" class="block w-full text-center rounded-lg border border-transparent bg-white px-6 py-3 text-base leading-6 font-medium inlets-blue-900 hover:inlets-blue-900 focus:outline-none focus:shadow-outline transition ease-in-out duration-150" aria-describedby="tier-scale">
                                                Contact us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
