<div class="bg-indigo-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 py-12 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl">
      <span class="block mb-2">Ready to start your first tunnel?</span>
      <span class="block text-indigo-600">Kick the tires with one of our subscription plans.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <a href="https://openfaas.gumroad.com/l/inlets-subscription" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
            See plans
        </a>
      </div>
    </div>
  </div>
</div>
