<div id="trial" class="py-2 bg-white-20 overflow-hidden max-w-screen-xl mx-auto">
    <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
                Try before you buy
            </h3>
            <div class="mt-2 sm:flex sm:items-start sm:justify-between">
                <div class="max-w-xl text-medium leading-5 text-gray-500">
                <p>
                    With a free trial, you can enjoy unlimited use of inlets PRO for 14-days, risk free.
                </p>
                </div>
                <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                    <span class="inline-flex rounded-md shadow-sm">
                        <div class="inline-flex rounded-md shadow">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScfNQr1o_Ctu_6vbMoTJ0xwZKZ3Hszu9C-8GJGWw1Fnebzz-g/viewform" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md bg-inlets-blue-900 text-white blue-900 hover:bg-blue-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">Start a free trial</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
