<li class="mt-10">
    <div class="flex">
        <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-inlets-blue-900 text-white">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="{{include.icon}}" />
                </svg>
            </div>
        </div>
        <div class="ml-4">
            <h5 class="text-xl leading-6 font-medium text-gray-900">{{ include.title }}</h5>
            <p class="mt-2 text-lg text-base leading-6 text-gray-500">
                {{ include.text }}
            </p>
        </div>
    </div>
</li>